<p-dialog
  [(visible)]="modalaService.loginModal"
  [style]="{ width: '450px' }"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="onClose()"
>
  <div class="main-container">
    <div class="container">
      <div class="login-header">
        <p class="caption text-cian-dark">ავტორიზაცია</p>
      </div>
      <div class="login-body">
        <app-email-onfirm *ngIf="isTwoFactory" (done)="onVerifyDone($event)"></app-email-onfirm>
        <form *ngIf="!isTwoFactory" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-input mx-2 my-3">
            <label for="username" class="text-sm px-3">Email</label>
            <input
              class="rounded-input text-sm"
              type="email"
              formControlName="username"
              id="username"
              placeholder="შეიყვანეთ მეილი"
            />
          </div>

          <div class="form-input mx-2 my-3">
            <label for="password" class="text-sm px-3">პაროლი</label>
            <input
              class="rounded-input text-sm"
              type="password"
              formControlName="password"
              id="password"
              placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
            />
          </div>
          <div class="d-flex justify-content-end my-2">
            <a href="register" class="text-md">რეგისტრაცია</a>
          </div>
          <div class="row">
            <div class="col-4">
              <button
                pButton
                label="შესვლა"
                class="p-button-sm p-button-rounded bg-default"
              ></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
