<p-dialog
  [(visible)]="modalService.forgetPasswordModal"
  [style]="{ width: '450px' }"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="onClose()"
>
  <div class="main-container">
    <div class="container">
      <div class="login-header">
        <p class="caption text-cian-dark">პაროლის აღდგენა</p>
      </div>
      <div class="login-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="verificationStatus !== 'done'" class="mail mb-4">
            <app-email-onfirm *ngIf="verificationStatus !== 'done'" (done)="onVerifyDone($event)"></app-email-onfirm>
          </div>

          <div *ngIf="verificationStatus === 'done'" class="password w-100">
            <div class="w-100">
              <div class="form-input mx-2 my-3">
                <label for="newPassword" class="text-sm px-3"
                  >ახალი პაროლი</label
                >
                <input
                  class="rounded-input text-sm"
                  type="password"
                  formControlName="newPassword"
                  id="newPassword"
                  autocomplete="off"
                  placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
                />
                <span class="text-danger text-sm mx-3"
                  >{{
                    isPasswordValid === true ? "" : isPasswordValid.join(",\n")
                  }}
                </span>
              </div>
            </div>
            <div class="w-100">
              <div class="form-input mx-2 my-3">
                <label for="confirmPassword" class="text-sm px-3"
                  >დაადასტურეთ პაროლი</label
                >
                <input
                  class="rounded-input text-sm"
                  type="password"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  autocomplete="off"
                />
                <span class="text-danger text-sm mx-3"
                  >{{ isConfirmPasswordMach ? "" : "პაროლი არ ემთხვევა" }}
                </span>
              </div>
            </div>
            <div class="d-flex m-3" style="justify-content: end">
              <button
                pButton
                label="შეცვლა"
                type="submit"
                class="p-button-sm p-button-rounded bg-default"
                style="max-width: 40%"
              ></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>


