<div class="main-container">
  <button (click)="onSubmit()">image</button>
  <div class="container my-5">
    <div class="d-flex">
      <p class="caption text-cian-dark">{{ action }}</p>
    </div>
    <form [formGroup]="registerForm" (submit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="firstname" class="text-sm px-3">სახელი</label>
            <input
              class="rounded-input text-sm"
              type="text"
              formControlName="firstname"
              id="firstname"
              placeholder="(მინიმუმ 5 სიმბოლო)"
              autocomplete="off"
            />
            <span
              *ngIf="firstnameValidation && firstnameValidation.invalid"
              class="text-danger text-sm mx-3"
              >firstname length must be minimum 5 symbols</span
            >
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3 position-relative">
            <label for="email" class="text-sm px-3">Email</label>
            <input
              class="rounded-input text-sm"
              type="email"
              formControlName="email"
              id="email"
              autocomplete="off"
              placeholder="შეიყვანეთ მეილი"
            />
            <button
              *ngIf="showEmailVerificationField"
              pButton
              icon="pi pi-envelope"
              type="button"
              class="p-button-text p-button-rounded"
              (click)="onEmail()"
              style="
                position: absolute;
                right: 6px;
                top: 26px;
                width: 26px;
                height: 26px;
              "
            ></button>
            <span *ngIf="!isEmailValid" class="text-danger text-sm mx-3"
              >*email requared</span
            >
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="identityNumber" class="text-sm px-3"
              >პირადი ნომერი</label
            >
            <input
              class="rounded-input text-sm"
              type="number"
              formControlName="identityNumber"
              id="ID"
              placeholder="00000000000"
            />
            <span
              *ngIf="!isIdentityNumberValid"
              class="text-danger text-sm mx-3"
              >ID length must be 11 digits</span
            >
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="lastname" class="text-sm px-3">გვარი</label>
            <input
              class="rounded-input text-sm"
              type="text"
              formControlName="lastname"
              id="lastname"
              placeholder="შეიყვანეთ თქვენი გვარი"
              autocomplete="false"
            />
          </div>
        </div>

        <div
          *ngIf="showEmailVerificationField"
          class="col-sm-12 col-md-6 col-lg-4"
        >
          <div class="form-input mx-2 my-3 position-relative">
            <label for="code" class="text-sm px-3">აქტივაციის კოდი</label>
            <input
              class="rounded-input text-sm"
              type="text"
              formControlName="code"
              id="code"
              placeholder="შეიყვანეთ აქტივაციის კოდი"
            />
            <button
              pButton
              icon="{{ verificationStatusIcon }}"
              type="button"
              class="p-button-text p-button-rounded"
              (click)="onVerification()"
              style="
                position: absolute;
                right: 6px;
                top: 26px;
                width: 26px;
                height: 26px;
              "
            ></button>
            <span class="text-danger text-sm mx-3">{{
              emailVerifyValidation === true
                ? ""
                : emailVerifyValidation.join(",\n")
            }}</span>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="password" class="text-sm px-3">პაროლი</label>
            <input
              class="rounded-input text-sm"
              type="password"
              formControlName="password"
              id="password"
              autocomplete="off"
              placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
            />
            <span class="text-danger text-sm mx-3"
              >{{ isPasswordValid === true ? "" : isPasswordValid.join(",\n") }}
            </span>
          </div>
        </div>
        <div *ngIf="role === 'admin'" class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="role" class="text-sm px-3">როლი</label>
            <select
              #roleSelector
              formControlName="role"
              class="custom-dropdown text-md"
            >
              <option *ngFor="let item of roles" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div *ngIf="role === 'admin' && getSelectedRole === 'doctor'" class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="category" class="text-sm px-3">კატეგორია</label>
            <select
              #roleSelector
              formControlName="category"
              class="custom-dropdown text-md"
            >
              <option *ngFor="let item of categories" [value]="item">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="Photo" class="text-sm px-3">Photo</label>
            <app-upload-file (select)="onSelectImage($event)"></app-upload-file>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-input mx-2 my-3">
            <label for="cv" class="text-sm px-3">CV</label>
            <app-upload-file [fileType]="documentType" (select)="onSelectDocument($event)"></app-upload-file>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          [disabled]="!isFormValid"
          type="submit"
          pButton
          label="{{ action }}"
          class="p-button-sm p-button-rounded bg-default"
        ></button>
      </div>
    </form>
  </div>
</div>

<!-- toast -->
<p-toast position="top-center"></p-toast>
