.btn-pin{
    cursor: pointer;
}
.custom-btn{
    border: 1px solid transparent;

}
.custom-btn:hover{
    background-color: transparent !important;
    border: 1px solid #18A4E1;
    color: #18A4E1;
}
.custom-btn:active{
    border: 1px solid #3ACF99;
    color: #3ACF99;
}
