<div class="main-container w-100">
  <div class="container">
    <div class="row py-2">
      <div class="col-1">
        <div class="d-flex align-items-center">
          <img
            src="assets/LogoRed.png"
            alt=""
            class="w-100"
            style="max-height: 50px"
          />
          <span style="font-weight: 600 !important; color: #ff2c52"
            >კლინიკა</span
          >
        </div>
      </div>
      <div class="col-7 content-center">
        <app-navbar></app-navbar>
      </div>
      <div class="col-3 content-center">
        <div class="round bg-cian-light" style="font-size: 0.9rem">
          <div *ngIf="!isLoggedIn">
            <a href="">ავტორიზაცია/</a>
            <a href="">რეგისტრაცია</a>
          </div>
          <div *ngIf="isLoggedIn" class="avatar" (click)="onAvatar()">
            <img src="assets/LogoRed.png" alt="" />
            <span class="mx-3">leo</span>
          </div>
        </div>
      </div>
      <div class="col content-center">
        <app-language-selector></app-language-selector>
      </div>
    </div>
  </div>
  <div class="py-3" style="background-color: #ecf2f8">
    <div class="container">
      <div class="row">
        <div class="col-5 d-flex align-items-center">
          <div class="d-flex align-items-center">
            <div class="circle content-center mx-2">
              <i class="pi pi-phone text-cian-dark"></i>
            </div>
            <div class="text-md">032 2 100 100</div>
          </div>
          <div class="mx-2 d-flex align-items-center">
            <div class="circle content-center mx-4">
              <i class="pi pi-map-marker text-cian-dark"></i>
            </div>
            <div class="text-md">იაკობ ნიკოლაძე №10</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-5">
              <input
                type="text"
                class="rounded-input text-sm mx-2"
                style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)"
                placeholder="მოძებნე ექიმი სახელით"
              />
            </div>
            <div class="col-6">
              <input
                type="text"
                class="rounded-input text-sm mx-2"
                style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)"
                placeholder="მოძებნე სპეციალობით"
              />
            </div>
            <div class="col-1">
              <button
                pButton
                icon="pi pi-search"
                class="p-button-rounded"
                style="width: 40px; height: 40px; background-color: black"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
