<div class="border-round border-1 surface-border p-4 surface-card">
  <div class="skileton-conteiner mb-3">
    <p-skeleton shape="circle" size="6rem" styleClass="mr-2"></p-skeleton>
    <div>
      <div class="my-1 content-center">
        <p-skeleton width="10rem" height=".7rem"></p-skeleton>
      </div>
      <div class="my-1">
        <p-skeleton width="12rem" height=".7rem" class="my-2"></p-skeleton>
      </div>
      <div class="my-1">
        <p-skeleton height=".7rem"></p-skeleton>
      </div>
      <div class="mt-4 content-center">
        <p-skeleton width="8rem" height="2.2rem" borderRadius="1rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>
