@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,600");
* {
  font-family: "FiraGO", sans-serif;
}
.round {
  padding: 8px 15px !important;
  border-radius: 30px !important;
  white-space: nowrap;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inputs */
.rounded-input {
  padding: 8px 14px;
  border-radius: 30px;
  border: 2px solid rgba(200, 200, 200, 0.2);
  width: 100%;
}
.rounded-input:focus {
  outline: none;
  border: 2px solid #bae4f6;
}

/* Buttons */

/* font-sizes */
.text-sm {
  font-size: 13px;
}
.text-md {
  font-size: 0.9rem;
}
.text.lg {
  font-size: 1rem;
}
.caption {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Text colors */
.text-default {
  color: #053354;
}

.text-cian-dark {
  color: #18a4e1;
}

/* Background colors */
.bg-cian-light {
  background-color: #f0faff;
}
.bg-default {
  background-color: #053354 !important;
}
.bg-white{
  background-color: white;
}
