.calendar-day{
    border: 1px solid rgba(200,200,200, .2);
    border-radius: 2px;
    cursor: pointer;
}

.calendar-day:hover{
    border: 1px solid rgba(200,200,200, .7);
}

.free{
    background-color: white;
}
.booked{
    background-color: #FF93A6;
}
.restDay{
    background-color: #FFF1F4;
}
.currentUserBook{
    background-color: #DAFAEE;
}
.btn-remove{
    cursor: pointer;
}
.btn-remove:hover{
    background-color: rgb(224, 1, 1);
    color: white;
}


