<div
  class="main-container calendar-day content-center h-100 text-center {{
    getStatus
  }}"
  pTooltip="{{ day.bookId || day.isRestDay ? '' : getDetails }}"
  (click)="onDayClick(day)"
>
  <div
    *ngIf="!isRestDay"
    class="d-flex position-relative"
    style="padding: 10px 0"
  >
    <span *ngIf="!day.bookId" class="text-green-light">+</span>
    <span
      class="text-xsm d-none d-lg-flex"
      style="color: rgba(100, 100, 100, 0.4)"
    >
      <span *ngIf="day.isCurrentUserBook" class="text-green-light">{{
        loggedUserRole === "doctor" ? "დაჯავშნილია" : "ჩემი ჯავშანი"
      }}</span>
      <span>{{ day.bookId ? "" : "დაჯავშნა" }}</span></span
    >
    <div
      *ngIf="day.isCurrentUserBook"
      class="btn-remove position-absolute border-light p-2 content-center"
      style="
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
        right: 0;
        cursor: pointer;
      "
      (click)="onBookRemove($event)"
    >
      <i class="pi pi-times text-danger text-xsm"></i>
    </div>
  </div>
  <div *ngIf="isRestDay" class="d-flex" style="padding: 10px 0">
    <span class="text-xsm" style="color: transparent">დაჯავშნა</span>
  </div>
</div>
